.productCard:hover .button {
  display: block;
}
.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto auto;
}
.button:hover {
  background-color: var(--primary-shade);
}

.productCard img {
  width: 150px;
  height: 150px;
  padding: 15px;
  object-fit: contain;
}
.rating {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.productCard h3 {
  font-size: 12px;
  font-weight: 600;
}
.product_container {
  margin-top: 20px;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.productCard {
  position: relative;
  text-decoration: none;
  color: black;
  width: 180px;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
